{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

    <div id="account-conteiner">
        <h2>Your Account</h2>
        {% if user.is_authenticated %} 
            <h4>your account</h4>
            <!-- <p>{{ username }}</p> -->
        {% else %}
            <p>Please login or sign up! </p>
            <h5><a href="/account/login">login</a></h5>
            <h5><a href="/account/sign_up">sign up</a></h5>
        {% endif %}
    </div>
    
{% endblock %}