{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
 
    <div id="account-conteiner">
        {% if user.is_authenticated %}
            <h2>Your Account &nbsp;&nbsp;&nbsp;&nbsp; <!-- <a href="{% url 'account:settings' %}">settings</a>--> </h2> 

            <div class="grid-div">
                <div>Username:</div>   <div>{{ user.get_username }}</div>
                <div>User ID:</div>    <div>{{ user.pk }}</div>
                
                <div>First name:</div> <div><button class="open-button" onclick="openForm()">{% if user.first_name%} {{ user.first_name }} {% else %} set {%endif%}</button></div>
                <div class="account-form" id="FirstNameForm">
                    <form action="/account/settings/" method="POST" class="form-container">{% csrf_token %}
                        <label for="new_first_name"><b>Change first name:</b></label>
                        <input type="first_name" placeholder="Enter new First name" name="new_first_name" required><br>
                    
                        <button type="submit" class="btn">Ok</button>
                        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                
                <div>Last name:</div><div><button class="open-button" onclick="openForm_last()">{% if user.last_name%} {{ user.last_name }} {% else %} set {%endif%}</button></div>
                <div class="account-form" id="LastNameForm">
                    <form action="/account/settings/" method="POST" class="form-container">{% csrf_token %}
                        <label for="new_last_name"><b>Change last name:</b></label>
                        <input type="last_name" placeholder="Enter new Last name" name="new_last_name" required><br>
                    
                        <button type="submit" class="btn">Ok</button>
                        <button type="submit" class="btn cancel" onclick="closeForm_last()">Close</button>
                    </form>
                </div>

                <div>Email:</div><div>{{user.email}}</div>
            </div>

        {% else %}
            <p>Please login or sign up! </p>
            <h5><a href="/account/login">login</a></h5>
            <h5><a href="/account/sign_up">sign up</a></h5>
        {% endif %}
    </div>
    
{% endblock %}
