{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>SEYMOUR Piano Studio</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
            <div class="nav-bar">
                <h3><a href="/"> Seymour Piano Studio </a></h3>
                <h5><a href="/biography">biography</a></h5>
                <h5><a href="/blog">blog</a></h5>
                <h5><a href="/contacts">contact</a></h5>
                <h5><a href="/trial">first lesson</a></h5>
                {% if user.is_authenticated %}
                    <h5><a href="/account">account</a></h5>
                    <h5><a href="/timepad">timepad</a></h5>
                    <form id="logout-link" action="{% url 'account:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">logout</button>
                    </form>
                {% else %}
                    <h5><a href="/account/login">login</a></h5>
                    <h5><a href="/account/sign_up">sign up</a></h5>
                {% endif %}
                {% if user.is_superuser %}
                    <h5><a href="/admin">admin</a></h5>
                {% endif %}
            </div>
            
        </div>
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="page-footer">

        </div>
    </body>
</html>