{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SEYMOUR Piano Studio</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<!--        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
            <div class="nav-bar">
                <h3><a href="/"> Seymour Piano Studio </a></h3>
                <h5><a href="/contacts">Contacts</a></h5>
                <form class="trial-lesson">
                    <button><a href="/trial">First lesson</a></button>
                </form>
            </div>
            
        </div>
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>