{% extends 'main/base.html' %}
{% load static %}

<!-- {% block style %}
    <link rel="stylesheet" href="{% static 'css/bio.css' %}">
{% endblock %} -->

{% block content %}

    <div id="blog-conteiner">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Zarema Seymour was born in Pskov, Russia.
            She began taking Piano lessons as well as Music Theory, Literature, and Choir at a local music school. 
            There she had her first experience as a Piano Soloist, and an Accompanist for the school orchestra. 
            &nbsp;&nbsp;&nbsp;&nbsp;Upon successful completion of music school, Zarema was accepted to the Pskov Regional Music College. 
            There she majored in Piano Performance. 
            &nbsp;&nbsp;&nbsp;&nbsp;After graduation, Zarema decided to continue her education at St. Petersburg University 
            as a Music major with emphasis on Pedagogy. In 1995, she received her Masters degree in Music Education. 
            At the time, she was working as a Piano Teacher, and as an Accompanist for Cello and Violin Students as well 
            as Choreography classes at local Music schools, and at Private Schools with emphasis on Art.
            Zarema has been living and working in United States since 1995. Since 2004, she has been residing, and teaching, 
            in Ventura, California, where she became a member of Music Teachers Association of California (MTAC).
        </p>
    </div>
    
{% endblock %}