{% extends 'main/base.html' %}
{% load static %}

{% block style %}
<!-- <link rel="stylesheet" href="/static/css/home.css"> -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="philosoph-panel">
    <div class="piano-image">
        <img src="{% static 'img/one_line_piano_2.png' %}" alt="the image is late :C">
    </div>

    <div class="quote-div">
        <figure>
        <blockquote cite="https://www.goodreads.com/quotes/4590-without-music-life-would-be-a-mistake">
            <p>Without music, life would be a mistake.</p>
        </blockquote>
        <figcaption>—Friedrich Nietzsche, <cite>Twilight of the Idols</cite></figcaption>
    </figure>
    </div>
</div>
{% endblock %}