{% extends 'main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="home-panel">
    <div class="piano-image">
        <img src="{% static 'img/one_line_piano_2.png' %}" alt="the image is late :C">
    </div>

    <div class="quote-div">
        <figure>
        <blockquote cite="https://www.goodreads.com/quotes/4590-without-music-life-would-be-a-mistake">
            <p>Without music, life would be a mistake.</p>
        </blockquote>
        <figcaption>—Friedrich Nietzsche, <cite>Twilight of the Idols</cite></figcaption>
    </figure>
    </div>

    <div id="teaching-philosophy">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I aim to make piano playing engaging, fulfilling,  and enjoyable experience. 
            Playing music  is an opportunity to enhance and expand other life skills: 
            good communication, patience, confidence, and joy. The piano lessons and 
            music tuitions are individually tailored to suit the musical preference, 
            personal interests or learning styles of each student. My teaching style, 
            curriculum, and approach are  flexible, varied, and individual, based on 
            students' capacities and levels.  The lesson progress is based on the 
            student’s own pace.  Acquiring the techniques and fundamental knowledge is necessary,
            therefore the consistency of daily practice is highly recommended. <br>
            &nbsp;&nbsp;&nbsp;&nbsp;But the main goal of my teaching is  teach the students skills, not just the repertory, 
            and to guide the students to play musically and establish a foundation for a lifelong 
            appreciation of music. 
        </p>
    </div>
</div>
{% endblock %}