@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Benne', serif;
    padding: 0 0;
    margin: auto;
    width: 100%;
}

.page-header {
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: xx-large;
    background-color: #cfcfd1;

    position: fixed;
    z-index: 1000;
}
.content-container {
    padding-top: 109px;
}

.nav-bar > h3 {
    margin: 0;
    /* display: block; */
    display: inline-block;
}

.nav-bar > h5 {
    margin: 0;
    /* display: block; */
    display: inline-block;
}


/* .nav-bar {
    display: block;
} */
.trial-lesson {
    display: inline-block;
}

.trial-lesson > button {
    border: none;
    background-color: #cfcfd1;
}



a {
    color: #cc7400;
    text-decoration: none;
}
a:visited {
    color: #494949;
}
a:active {
    color: #cc7400;
}