
.piano-image {
    display: inline-block;
    margin-left: 10%;
    margin-right: auto;
}

.piano-image > img {
    height: 400px;
}

.quote-div {
    display: inline-block;
    padding-right: 3%;
    padding-left: 60px;
}

figure {
    float: right;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    font-size: large;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

