
.piano-image {
    display: inline-block;
    margin-left: 30px;
    margin-right: auto;
}

.piano-image > img {
    /* height: 400px; */
    /* width: 50%; */
    height: 500px;
    float: left;
}

.quote-div {
    display: inline-block;
    padding-right: 30px;
    padding-left: 60px;
}

figure {
    float: right;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    font-size: large;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

#teaching-philosophy {
    font-size: large;
    /* width: 90%; */
    padding: 50px 7% 50px 13%;
}

